@media screen and (max-width:1248px) {

    .navbar {
        flex-direction: column;
    }

    .navgation {
        flex-direction: column;
        text-align: center;
        display: block;
        top: 0px;
        position: relative;
    }

    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 70px
    }

    .v-nav-resp {
        opacity: 0;
    }

    .middle {
        display: block;
        top: 400px;
        position: relative;
        text-align: center;
    }
    ..container1{
        display: block;
        position: relative;
        top: 12px;
    }
    .shops img {
        width: 310px;
    }

    .clientbx img {
        width: 300px;
    }

}